@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<main class="d-flex align-items-stretch">
    <div class="fixed-wrap forgot-left"></div>
    <div class="stretch-wrap">
        <div class="logo logo__mr_bottom">
            <img src="../dist/img/UpKeepr_Wordmark.svg" alt="">
        </div>
        <h5 class="text-center">@ViewData["Title"]</h5>
        <p class="text-center regTitle">@Localizer["Error"]</p>
        <div class="footer-small forgot text-center">
            <a asp-action="Login" asp-controller="Account">
                Log In
                <span class="common-icon pl-1">
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.5 6.91406e-07L5.4425 1.0575L9.6275 5.25L0.5 5.25L0.5 6.75L9.6275 6.75L5.435 10.935L6.5 12L12.5 6L6.5 6.91406e-07Z" fill="#29B6F6" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</main>