<main class="d-flex align-items-stretch">
    <div class="fixed-wrap forgot-left"></div>
    <div class="stretch-wrap">
        <div class="logo logo__mr_bottom">
            <img src="../dist/img/UpKeepr_Wordmark.svg" alt="">
        </div>
        <h5 class="text-center">Confirm Email</h5>
        <p class="text-center regTitle">Please check your email and click the link to confirm your address.</p>
        <div class="footer-small forgot text-center">
        </div>
    </div>
</main>